<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RAC+MVVM自适应高度cell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0757F46C1E694BFD002F23A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0757F4851E694BFE002F23A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0757F4901E694BFE002F23A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
